body {
    background: #333333;
    color: #fff;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
}

.btn-secondary {
    background-color: #1E1E1E !important;
}


